<footer class= class="page-footer font-small blue pt-4" style="background-color: #ffab40;">

    <div class="container-fluid text-center text-md-left">
  

      <div class="row">
  
     
       
  
      
          <h2 class="text-uppercase">gallery</h2>
         
  
        </div>
    
  
  
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/mangowilliam">GIT</a>
            </li>
            
            <li>
                <a href="#">MANGO© 20119 Copyright</a>
              </li>
          </ul>

        </div>
    
    </div>

  
  </footer>