<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #A0522D;">
    
  <div class="container-fluid">
    <div class="navbar-header">
        
      <h2><a class="navbar-brand" href="{% url 'gallary' %}">MY GALLARY</a></h2>
    </div>
    <div>

            
                  <h2 class=class="nav navbar-nav navbar-righ>
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES
                            <span class="caret"></span>
                        </a>
                        
                        <ul class="dropdown-menu" >
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">food</a></li>
                            <li><a href="#">fun</a></li>
                            <li><a href="#">events</a></li>
                            <li><a href="#">animals<a></li>
                        </ul>
                    </h2>
                    </div>
                   
  </div>
</nav>
</body>
</html>
